<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" href="/assets/favicon.ico"/>

    <title>Online Pet Store</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/bootstrap-theme.min.css" rel="stylesheet"/>

    <link href="/assets/css/pet-store.css" rel="stylesheet"/>

</head>
<body ng-app="storeApp">
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Online Pet Store</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/all-items.html">All Items</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container" ng-controller="productsCtrl">

    <div class="jumbotron">
        <h3>Our Product and Items</h3>
        <p>Pet Supplies, Pet Food, Pet Products, Pet Toys, Dog Grooming & More. We believe in equipping you with the knowledge, tools and pet supplies you need to care for your animals. .</p>
    </div>

    <!-- Products -->
    <div id="products" class="row list-group">
        <div ng-repeat="item in items" class="item col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img class="group list-group-image" style="max-height: 150px;"
                     ng-repeat="img in item.photoUrls|limitTo:1" src="{{img}}" />
                <!--<img class="group list-group-image" src="http://placehold.it/250x150/000/fff" alt="" />-->
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        <a href="/item/{{item.id}}">{{item.name}}</a></h4>
                    <p class="lead">
                        {{item.category.name}}
                        <br/>
                        <span class="label label-info" ng-repeat="tag in item.tags">{{tag.name}}</span>
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <span class="label label-default">{{item.status}}</span>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <button class="btn btn-success" >Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /Products -->
</div><!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<script src="/assets/js/jquery-1.12.4.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/angular-1.5.8.min.js"></script>
<script src="/assets/js/notify.min.js"></script>
<!-- Angular App
================================================== -->
<script src="/assets/js/app/store-app.js"></script>
<script src="/assets/js/app/items-controller.js"></script>

</body>
</html>