<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" href="/assets/favicon.ico"/>

    <title>Online Pet Store</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/bootstrap-theme.min.css" rel="stylesheet"/>

    <link href="/assets/css/pet-store.css" rel="stylesheet"/>

</head>
<body ng-app="storeApp">
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Online Pet Store</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/all-items.html">All Items</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container" ng-controller="productCtrl">

    <input type="hidden" id="petItemId" th:value="${petItemId}" />
    <div class="row top-buffer">


    </div>
    <div class="row">
        <div class="col-md-6">
            <h4 class="group inner list-group-item-heading">{{item.name}}</h4>
            <div class="thumbnail">
                <img ng-repeat="img in item.photoUrls" src="{{img}}" class="img-thumbnail" style="max-height: 500px;" />
            </div>
        </div>
        <div class="col-md-6">
            <p>
                Category: {{item.category.name}}
            </p>
            <p>
                Tags: <span class="label label-info" ng-repeat="tag in item.tags">{{tag.name}}</span>
            </p>
            <p>
                Status: <span class="label label-default">{{item.status}}</span>
            </p>

            <p>
                <button class="btn btn-danger" ng-click="deleteItem()" >Delete Item</button>
            </p>
        </div>
    </div>
</div><!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<script src="/assets/js/jquery-1.12.4.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/angular-1.5.8.min.js"></script>
<script src="/assets/js/notify.min.js"></script>
<!-- Angular App
================================================== -->
<script src="/assets/js/app/store-app.js"></script>
<script src="/assets/js/app/item-controller.js"></script>

</body>
</html>